<?xml version="1.0" encoding="UTF-8"?>
<Context path="/">
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <Resource name="jdbc/woori_bank" auth="Container" type="javax.sql.DataSource"
              maxActive="10" maxIdle="3" maxWait="10000"
              username="root" password="gksktodaud1!"
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/woori_bank"
              closeMethod="close" />
</Context>